#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  background-color: #1db954;
  color: black;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Jasna ramka */
}

#custom-spotify:hover {
  background-color: @color15;
  color: @background;
  border-radius: 0;
}
