@import url("./style/var.css");
@import url("./style/power.css");
@import url("./style/workspaces.css");
@import url("./style/network.css");
@import url("./style/battery.css");
@import url("./style/audio.css");
@import url("./style/tray.css");
@import url("./style/backlight.css");
@import url("./style/menu.css");
@import url("./style/spotify.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  margin: 1px;
  padding: 1px;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: @background; /* Lekko przezroczysty czarny */
  opacity: 0.9; /* lekka przezroczystość */
  color: @foreground; /* Jasna czcionka dla kontrastu */
  border-radius: 15px; /* Zaokrąglone rogi */
  transition:
    background-color 0.3s ease,
    border-radius 0.3s ease;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #ffffff;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 25px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#mode {
  background-color: @color15;
  border-bottom: 3px solid #ffffff;
}

#clock {
  margin-left: 10px; /* Margines */
  font-weight: bold; /* Gruba czcionka */
  font-size: 18px; /* Większy rozmiar czcionki */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Cień pod elementem */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Przezroczysta ramka */
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease; /* Płynne przejścia */
}

#clock:hover {
  background-color: @color13; /* Jaśniejsze tło przy najechaniu */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Większy cień przy najechaniu */
}

label:focus {
  background-color: #000000;
}

#custom-notifications {
  padding: 10px;
}

#custom-notifications:hover {
  color: lightblue;
  padding: 10px;
}

#clock,
#battery {
  background-color: @color13; /* Przyciemnione tło */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Jasna ramka */
  color: #f0f0f0;
  border-radius: 15px;
  padding: 5px;
}

#clock:hover,
#battery:hover {
  background-color: @color14;
}
